body {
	background-color: lightgray;
}
h1 {
	color: green;
	font-family: monospace;
	font-size: 35px;
}	
p {
	font-family: comic sans ms;
	font-size: 20px;
}	
ul {
	font-family: arial;
	font-size: 18px;
	color: purple;
}	
.red {
	color: red;
	font-weight: bold;
	font-size: 16px;
}
a {
color: green;
}
a:visited {
color: green;
}
b {
	color: red;
	font-size: 20px;
}	
.form {
	postion: absolute;
	top: 75%;
	left: 75%;
}	
